@using Microsoft.AspNetCore.Components.Web
@namespace PhishyBank.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <base href="~/" />
    <link href="PhishyBank.styles.css" rel="stylesheet" />
    <!-- OpenGraph stuff -->
    <meta property="og:title" content="Phishy Bank">
    <meta property="og:description" content="Serving Nigerian Princes since 2020">
    @* <meta property="og:image" content="https://phishybank.site/assets/thumbnail.png"> *@
    <meta property="og:image:width" content="1000" />
    <meta property="og:image:height" content="1000" />
    @* <meta property="og:url" content="https://phishybank.site"> *@
    <meta name="twitter:card" content="summary_large_image">
    <title>Phishy Bank</title>
    <link rel="icon" type="image/png" sizes="1000x1000" href="assets/favicon.png">
    <!-- Google Fonts -->
    <link href="//fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
    <!-- jQuery -->
    <script src="assets/jquery/jquery-3.5.1.min.js"></script>
    <!-- validate.js -->
    <script src="assets/validate/validate.min.js"></script>
    <!-- Luxon -->
    <script src="assets/luxon/luxon.min.js"></script>
    <!-- FontAwesome-->
    <script src="assets/fontawesome/all.min.js"></script>
    <!-- DataTables -->
    <link rel="stylesheet" type="text/css" href="assets/datatables/datatables.min.css" />
    <script src="assets/datatables/datatables.js"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="//cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="assets/styles.css">

    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>

<body>
    @RenderBody()

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
</body>

</html>
