@using System.Diagnostics
@inherits LayoutComponentBase

<div class="footer">
    <nav class="navbar fixed-bottom navbar-light bg-light">
        <div class="mr-auto">
        </div>
        <h6 class="navbar-text my-0 py-0">Disclaimer: This is a site intended for demo purposes only.
        </h6>
    </nav>
</div>
