@inherits LayoutComponentBase

<PageTitle>PhishyBank</PageTitle>

<div class="page">
    <div class="container-navmenu">
        <NavMenu />
    </div>
    <!-- BEGIN Modal -->
    <div class="modal fade" id="aboutModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="staticBackdropLabel">About Phishy Bank</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5>Created by</h5>
                    <p class="text-monospace">
                        10200376B Seah Shih Wei Gerome
                        <br />
                        S01623826 Soh Thiam Hing
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END Modal -->
    <div id="" class="carousel slide carousel-fade" data-interval="5000" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-flex align-items-center justify-content-center img-cover vh-100 w-100" src="assets/landing.jpg" style=" object-position: 0 0;">
                <div class="carousel-caption bg-dark shadow rounded carousel-center">
                    <div class="col">
                        <h1>Preferred Bank of Royalty</h1>
                        <p>Serving Nigerian Princes since 2020</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-flex align-items-center justify-content-center img-cover vh-100 w-100" src="assets/landing-2.jpg">
                <div class="carousel-caption bg-dark shadow rounded carousel-center">
                    <div class="col">
                        <h1>Now Accepting Toilet Paper</h1>
                        <p>Contact us for more information</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-flex align-items-center justify-content-center img-cover vh-100 w-100" src="assets/landing-3.jpg">
                <div class="carousel-caption bg-dark shadow rounded carousel-center">
                    <div class="col">
                        <h1>Bitcoin Transfers Coming Soon</h1>
                        <p>Check back often for updates!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-navmenu">
        <Footer />
    </div>
</div>
