@inherits LayoutComponentBase

@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using PhishyBank.Models
@using System.Text.Json
@using System.IdentityModel.Tokens.Jwt
@using System.Globalization
@using PhishyBank.Data
@using PhishyBank.Server.Controllers
@using PhishyBank.Server.State

@inject StateHelper StateHelper

<PageTitle>@PhishyLayoutComponentBase.getPageTitle("Home")</PageTitle>

<div class="container-phishybank">
    <AboutModal />
    <CascadingValue Value="this">
        <div class="body-main">
            <div class="container-navmenu">
                <NavMenu />
            </div>
            <main>
                @Body
            </main>
        </div>
    </CascadingValue>
    <Footer />
</div>

@code {
    public User PhishyUser { get; private set; } = new User
    {
        Id = -1,
        Email = "",
        Password = "",
        Name = ""
    };

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        // NOTE firstRender is true on page first load or refresh
        if (firstRender)
        {
            var user = await StateHelper.GetUser();
            if (user != null) {
                PhishyUser = user;
                this.StateHasChanged();
            }
        }
    }
}