.brand {
    font-size: 2rem;
    font-family: 'Bangers', cursive;
}

.img-cover {
    object-fit: cover !important;
}

.pt-body {
    padding-top: 7rem !important;
}

.carousel-center {
    bottom: 10% !important;
    opacity: 0.9 !important;
}

.carousel-text {
    opacity: 0.9 !important;
}
